<% provide(:title, 'About') %>
<h1>About</h1>
<p>A <strong>virtual</strong> locality with a wide assortment of people. That's Twitter!</p>
<p>A notorious new mechanism that lets you maintain virtual contact with family and friends no matter where they are.</p>
<p>By <em>following</em> or <em>being followed</em>, you will enjoy previously unimagined experiences like sharing incredible
amounts of information including videos, photographs, etc. Twitter is a truly magnificent tool!</p>
