<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>Twitter is easy to use! Start by creating an account. Then follow these three simple steps:</p>
<ol>
  <li>Post <strong>tweets</strong> by typing your text in the box that appears on your timeline.</li>
  <li><strong>Follow</strong> someone by visiting their profile and clicking on the <em>Follow</em> button.
      Their tweets will then appear on your timeline.</li>
  <li>Invite your friends to acquire more <strong>followers</strong>. Grow your audience and be famous!</li>
</ol>
